#text-container {
  width: 400px;
  height: 50px;
  position: absolute;
  overflow: hidden;
  margin: 25% 0 0 40%;
}

#text {
	color:#CECECE;
  	position: absolute;
  	opacity: 0;
 	animation: fade 8s linear forwards;
	text-align:	center;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}